<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "rounded-circle img-fluid", style: "width: 150px; height: 150px;" %>
              <% end %>
              <h5 class="my-3">
                <%= current_user.name %>
              </h5>
              <div class="d-flex justify-content-center mb-2">
                <%= f.submit "Save", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= f.text_field :name, class: "w-100", style: "padding: 0 10px" %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100", style: "padding: 0 10px" %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Avatar</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= f.file_field :avatar %><br>

                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Password</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= f.password_field :password, autocomplete: "new-password", class: "w-100", style: "padding: 0 10px" %>
                    <% if @minimum_password_length %>
                      <br/>
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Password confirm</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100", style: "padding: 0 10px" %>
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Current password</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "w-100", style: "padding: 0 10px" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<% end %>