<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category.category_name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= article.user.email %>
  </p>

  <p>
    <strong>Thumbnail:</strong>
    <% if @article.thumbnail.attached? %>
      <%= image_tag @article.thumbnail, style: "width: 100px; height: 100px" %>
    <% end %>
  </p>

  <p>
    <strong>Display:</strong>
    <%= article.display %>
  </p>
</div>
